<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- Здесь нужно указать путь к базе -->
    <property name="connection.url">jdbc:mysql://localhost:3306/promo</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>

    <mapping class="com.scnetcracker.entity.CategoriesEntity"/>
    <mapping class="com.scnetcracker.entity.CommentsEntity"/>
    <mapping class="com.scnetcracker.entity.EntitiesEntity"/>
    <mapping class="com.scnetcracker.entity.GroupsEntity"/>
    <mapping class="com.scnetcracker.entity.OperationTypesEntity"/>
    <mapping class="com.scnetcracker.entity.OperationsEntity"/>
    <mapping class="com.scnetcracker.entity.PromocodesEntity"/>
    <mapping class="com.scnetcracker.entity.ShopsEntity"/>
    <mapping class="com.scnetcracker.entity.SocialnetworksEntity"/>
    <mapping class="com.scnetcracker.entity.SocialnetworkslistEntity"/>
    <mapping class="com.scnetcracker.entity.StatisticsEntity"/>
    <mapping class="com.scnetcracker.entity.StatisticsTypeEntity"/>
    <mapping class="com.scnetcracker.entity.UsersEntity"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>